---
import '../../styles/global.css';
import Footer from '../Footer.astro';
import EditLink from 'virtual:starlight/components/EditLink';
import LastUpdated from 'virtual:starlight/components/LastUpdated';
import Pagination from 'virtual:starlight/components/Pagination';
---

<div class="sl-page-footer">
  <div class="sl-page-footer-meta">
    <EditLink />
    <LastUpdated />
  </div>
  <Pagination />
</div>

<Footer />

