<footer class="footer">
  <div class="container footer__inner">
    <p>Created with <a href="https://astro.build">Astro</a> and <a href="https://starlight.astro.build">Starlight</a></p>
  </div>
</footer>